<% provide(:title,"Help")%>
  <h1>Help</h1>
  <p>
  Get help on the RUby on Rails Tutorial at the
  To get help on this sample app, see the
  book.
  </p>
<p>Find me in app/views/static_pages/help.html.erb</p>
